<header>
        <nav>
            <ul>
                <li><a href="/" class="logo">●</a></li>
                <li><a href="/writing">Writing</a></li>
                <li><a href="/reading">Running</a></li>
                {# <li><a href="/watching">Watching</a></li>
                <li><a href="/listening">Listening</a></li>
                <li><a href="/running">Running</a></li> #}
            </ul>

            <ul>
                {# <li><a href="/watching">Spotify</a></li> #}
                <li><a href="/listening">Are.na</a></li>
                <li><a href="/running">Github</a></li>
            </ul>
        </nav>
</header>