---
layout: layouts/base.njk
---
<h2 class="title"> {{ title }} <span>by {{ author }} </span> </h2>

<div class="info">
    {{ date | postDate }}
    {# <div class="tags">
        {% for i in range(stars) %}★{% endfor %}
    </div> #}
</div>

{{ content | safe }}
