---
layout: layouts/base.njk
---
<h2 class="title"> {{ title }} </h2>
<div class="info">
    {{ date | postDate }}
    <div class="tags">
        {% for tag in categories %}
        {{ tag }}
        {% endfor %}
    </div>
</div>
{{ content | safe }}