
:root {
    --primary: #1e1e1e;
    --secondary: #898a8e;
    --background: #ffffff;
    --secondaryBackground: #f1f2f6;
    --trinaryBackground: #f0f0f0;
    --gray3: #d1d1d6;
    --accent: #00823d;
    --radius: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1,"kern","kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    box-sizing: border-box;
}

header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
 display: block;
 width: 100%;
}

body {
    color: var(--primary);
    background-color: var(--background);
}




main {
    padding: 0rem 1rem 6rem;
    max-width: 700px;
    margin: 0px auto;
}

h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--gray3);
    letter-spacing: -.01em;
    line-height: 115%;
    padding: 3.5rem 0rem;
    text-align: center;
}

h2 {
    color: var(--secondary);
    margin: 1rem 0;
    font-size: .75rem;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}

a {
    color: inherit;
}


a:hover {
    color: var(--accent);
}

.posts-section {
    margin-bottom: 2rem;
}

.post {
    display: flex;
    text-decoration: none;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--trinaryBackground);
}

.post:hover {
    color: inherit;
}   

.post:first-child {
    padding: 0 0 0.5rem;

}

.post:last-child {
    padding: 0.5rem 0 0.5rem;

}

.intro p {
    margin-bottom: 1rem;
}

p.title {
    flex: 1;
}

p.tag {
    color: var(--secondary);
    display: block;
    margin-left: 0.25rem;
}

p.tag::after {
    content: ",";
}

p.tag:last-child:after {
    content: "";
}

.tags {
    display: flex;
}

.intro {
    margin-bottom: 2rem
}


@media (max-width: 1280px){
    html {
        font-size: 17px;
    }
}

@media (max-width: 768px){
    html {
        font-size: 15px;
    }
}