/* @font-face {
  font-family: "Sneaky";
  src: url("./fonts/Sneaky-Times.woff") format("woff"), url("./fonts/Sneaky-Times.woff2") format("woff2");
} */



:root {
  --font-size-body: 24px;
  --font-size-mono: 22px;

  --color-background: #F6F6F4;
  --color-offset: #EFEEEA;
  --color-gray: #8C8C8C;
  --color-text: #241C15;
  --color-accent: #F6C944;


  --font-family-body: 'Sneaky','Times New Roman', Times, serif;;

  --radius: 0.25rem;

  --width: 800px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #141414;
    --color-offset: #2a2a2a;
    --color-faded: #555;
    --color-gray: #767676;
    --color-text: #e5e5e5;
    --color-text-extreme: #fff;
  }
} */

/* Reset -------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background: var(--color-background);
  color: var(--color-text);
}

body {
  max-width: var(--width);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1,"kern","kern";
  -webkit-font-kerning: normal;
  font-kerning: normal;
}

main {
  padding: 1rem ;
}

img,
picture,
video,
canvas,
svg {
  aspect-ratio: 2/1;
  -webkit-aspect-ratio: 2/1; /* for Safari and older versions of Edge */
  display: block;
  max-width: 100%;
  object-fit: cover;
  -o-object-fit: cover; /* for older versions of Opera */
  object-position: center; /* for older versions of Safari */
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
  line-height: 1;
  background: none;
  color: var(--color-text);
}

input,
textarea,
select {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  background: var(--color-gray);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

  
  /* Typography --------------------------------------------------------------- */

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  p,
  ol,
  ul,
  pre,
  blockquote {
    margin-bottom: 1rem;
  }
  
  a {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-accent);
    text-underline-offset: 3px;
    color: inherit;
    transition: 100ms text-decoration-color ease-in-out;
  }
  
  a:hover {
    text-decoration-color: var(--color-gray);
  }


  
  ul {
    list-style-type: none;
    margin-left: 1.5rem;
  }
  
  ul li:before,
  ol ul li:before {
    position: absolute;
    margin-left: -1.5rem;
    content: "—";
    color: var(--color-gray);
    font-weight: 400;
    margin-right: 0.5rem;
  }
  
  ol {
    list-style-type: none;
    margin-left: 2rem;
    counter-reset: list;
  }
  
  ol li:before {
    position: absolute;
    margin-left: -2rem;
    color: var(--color-gray);
    font-weight: 400;
    margin-right: 0.5rem;
    content: counter(list) ".";
    counter-increment: list;
  }
  
  img {
    border-radius: var(--radius);
  }
  
  b,
  strong {
    font-weight: 500;
  }
  
  aside,
  aside p {
    font-size: 0.8rem;
    color: var(--color-gray);
  }
  
  aside p:first-of-type {
    margin-top: 0;
  }

  aside p:last-of-type {
    margin-bottom: 0;
  }
  
  aside a {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-gray);
    text-underline-offset: 0px;
  }
  
  aside code {
    background: none;
    padding: 0;
    font-size: calc(var(--font-size-mono) * 0.9);
  }
  
  pre,
  code {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-mono);
  }
  
  pre {
    overflow: auto;
    padding: 0.5rem;
    border-radius: var(--radius);
    tab-size: 1rem;
  }
  
  code {
    padding: 2px 4px;
    border-radius: var(--radius);
    background: var(--color-offset);
  }
  
  pre code {
    background: none;
    padding: 0;
  }
  
  time {
    color: var(--color-gray);
  }
  
  blockquote {
    border-left: 2px solid var(--color-offset);
    padding-left: 1rem;
    font-style: italic;
  }

 .logo {
    text-decoration: none;
  }

