---
layout: layouts/base.njk
title: Vasil Burak's Website
---

<p> Hi, I'm Vasil (or xvburak), a self-taught developer, designer, and researcher. I'm passionate about exploring
        new things — currently it's architecture, chrononoanarchy, and community building.<p>

<p> You can reach out to me via <a href="mailto:burak.vasil@gmail.com">e-mail</a> or meet me on <a target="_blank" href="https://www.are.na/xvburak">are.na</a></p>

  <h2>Writing</h2>

  <ul class="posts">
      {% for post in collections.post | reverse %}
        <li>
          <a href="{{post.url}}">
            {{post.data.title}}
            <div class="tags">
                {% for tag in post.data.categories %}
                    {{tag}}
                {% endfor %}
            </div>
          </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Reading</h2>

  <ul class="posts">
      {% for post in collections.book | reverse %}
        <li>
          <a href="{{post.url}}">
            {{post.data.title}}
            <div class="tags">
                {% for i in range(post.data.stars) %}
                    ★
                {% endfor %}
            </div>
          </a>
        </li>
        {% endfor %}
    </ul>